/* Header Styles */
.header {
	width: 100%;
	padding: 15px;
	background-color: #ffffff;
	position: relative;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

.greeting h5 {
	font-size: 18px;
	font-weight: 500;
	color: #333;
	margin: 0;
}

/* Notifications Styles */
.notifications {
	position: relative;
}

.notification-icon {
	position: relative;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    box-shadow: 2px 2px 15px 0px #00000026;
    width: 56px;
    height: 56px;
    border-radius: 22px;
}
.notification-icon i.bi.bi-bell {
    position: absolute;
    right: 14px;
    top: 10px;
}
.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification-badge {
	position: absolute;
	top: 7px;
    right: 5px;
	width: 16px;
	height: 16px;
    background: #263238;
	color: white;
	border-radius: 50%;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.notify-data p {
    margin-bottom: 1rem;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.notification-dropdown {
	position: absolute;
	right: 0;
	top: 55px;
	width: 300px;
	background-color: white;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
	z-index: 999;
}

.notification-dropdown ul {
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 300px;
	overflow-y: auto;
}

.notification-dropdown ul li {
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #f1f1f1;
}

.notify-icon {
	width: 40px;
	height: 40px;
	background-color: #c8e6c9;
	border-radius: 50%;
	display: inline-block;
}

.notify-data {
	flex: 1;
	padding-left: 10px;
}

.show-all {
	text-align: center;
	padding: 10px;
	
	justify-content: center;
}

.show-all .link {
	cursor: pointer;
	margin-bottom: 0px;
}

/* Profile Styles */
.profile {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.profile-pic {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
nav.custom-sidebar .d-flex span {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    border-radius: 22px;
}
nav.custom-sidebar .d-flex a {
    width: 142px;
    height: 121px;
}
nav.custom-sidebar .d-flex a.active {
    width: 142px;
    height: 121px;
}

@media only screen and (max-width: 768px) {
	.header-content {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.greeting {
		margin-bottom: 15px;
	}
	.notifications,
	.profile {
		margin-bottom: 10px;
	}
}




