
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
	body {
		font-family: 'Poppins'; 
	}
.container-fluid {
	background-color: #f8f9fa;
}

.logo-img {
	width: 100px;
	border-radius: 50%;
}

.login_button {
	font-family: 'Inter', sans-serif;
	font-size: 23px;
	font-weight: 600;
	height: 60px;
	border-radius: 11px;
	background: #53afe6;
	border: none;
	color: white;
}

.line-separator {
	display: flex;
	align-items: center;
	justify-content: center;
}

.line {
	height: 1px;
	background-color: #ddd;
	flex-grow: 1;
}

.line-separator span {
	margin: 0 10px;
	font-size: 12px;
	color: #666;
}

.social-icon {
	width: 30px;
	cursor: pointer;
}

.login_input_field {
	padding: 27px;
	border-left: 0;
	border-radius: 11px 0 0 11px;
	border: 1px solid #0000006b;
}

.icon_back {
	background-color: white;
}

.login_icon_color {
	color: #53afe6;
	font-size: 24px;
}

.login_image_container {
	position: relative;
}

.login_image {
	background-image: url(/login.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: calc(100dvh - 0px);
	height: 100%;
	width: 100%;
}
.login-screen h3 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.73px;
    text-align: center;
}
.login-screen p {
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 24.2px;
}
.login-screen .input-group input:focus-visible {
	box-shadow: none !important;
	outline: none !important;
	border: 1px solid #dee2e6 !important;
}
.login-screen .input-group input::placeholder {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.57px;
}
.login-screen .input-group input {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.57px;
}
p, a {
		font-family: Inter;
		font-size: 18px;
		font-weight: 400;
		line-height: 21.78px;
		text-align: center;
}
.login_button.w-100 {
    font-family: Inter;
    font-size: 23px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
}
.account-resigter a {
    font-family: Inter;
    font-size: 17px;
    font-weight: 600;
    line-height: 20.57px;
    text-align: center;
}
.login-screen .input-group .icon_back {
    background-color: transparent !important;
}
.line-separator .line {
    border: 1px solid #00000047;
}
.line-separator span {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}
.login-screen {
    flex-direction: column;
	padding-top: 20px;
}
.login-screen .header-desktop {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
/* Responsive for smaller screens */
@media (max-width: 767px) {
	.login_image_container {
		display: none;
	}
	.login_button {
		font-size: 20px;
	}
	.small_screen_image_width {
		width: 80px;
	}
}
