/* @media screen and (min-width: 300px) and (max-width: 800px) {
	* {
		overflow-x: hidden;
	}
} */
.login_button {
	font-family: Inter;
	font-size: 23px;
	font-weight: 600;
	height: 60px;
	text-align: center;
	border-radius: 11px;
	background: #53afe6;
	border: none;
	color: white;
}
.line-separator {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.line-separator .line {
	height: 1px;
	background-color: #ddd;
	flex-grow: 1;
}

.line-separator span {
	margin: 0 10px;
	font-size: 12px;
	color: #666;
}
.login_input_field {
	padding: 27px !important;
	border-left: none !important;
	border-radius: 0px 11px 11px 0px !important;
}
.icon_back {
	background-color: white !important;
}
.login_icon_color {
	color: #53afe6;
}
.logo-container {
	position: absolute; 
	top: -120px; 
	left: 20px; 
	width: 100px;
	height: 100px;
}

.logo-container img {
	border-radius: 50%;
	object-fit: cover;
}
.icon_border {
	border-radius: 11px 0px 0px 11px;
	border: 1px solid #0000006b;
}
.registration_screen_small {
	background-image: url("/register_image.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
}
.header-desktop {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
h3 {
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 38.73px;
text-align: start;

}
p, a {
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 21.78px;
	text-align: center;
}
.input-group input:focus-visible {
	box-shadow: none !important;
	outline: none !important;
	border: 1px solid #dee2e6 !important;
}
.input-group input::placeholder {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.57px;
}
.choose_file input:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #dee2e6 !important;
}
.register-from {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-img {
    width: 100px;
    border-radius: 50%;
}
.logo-img {
    width: 100px;
    border-radius: 50%;
}
.line-separator span {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}
.custom-text {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 20.57px;
	color: #000000;
}
.custom-text:hover {
	color: #000000;
}
/* responsive */
@media (max-width: 1024px) {
	.register-from .col-lg-7 {
		padding: 0px;
	}
}