/* Add these styles globally or in the component if needed */
.appointment-card {
	max-width: 450px;
	border: 1px solid #e5e5e5;
	border-radius: 8px;
	padding: 16px;
	background-color: #fff;
}

.appointment-card img {
	width: 50px;
	height: 50px;
	object-fit: cover;
}
.upcoming-card {
    height: 268px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
.head-profiles {
	font-family: Poppins;
	font-size: 24px;
	font-weight: 700;
	line-height: 43.87px;
	text-align: left;
	color: #000000;
	margin-bottom: 30px;

}
.modal-crative2 {
		border-radius: 17px;
		background: #FFFFFF;
}
.head-profiles::after {
    content: '';
    position: absolute;
    left: 11px;
    bottom: 10px;
    width: 60px;
    height: 3px;
    border-radius: 5px;
    background: #53AFE6;
}
.head-profiles label {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	text-align: left;
	color: #000000;
}
.creative-from input::placeholder {
	color: #9A9A9A;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.creative-from input:focus {
	box-shadow: none !important;
    outline: none !important;
	border-color:  1px solid #9A9A9A33 !important;
}
.creative-from input {
	height: 55px;
	border-radius: 11px;
	border: 1px solid #9A9A9A33;
	color: #000000;
	padding: 0px 20px;
	line-height: 50px;
}

.custom-font-head {
    font-family: 'Poppins';
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  letter-spacing: 0.256px;
  text-align: left;
}
.clander-card-content span {
	font-family: 'Poppins';
	font-size: 16px;
	font-weight: 400;
	line-height: 22.4px;
	letter-spacing: 0.256px; 
	text-align: left;
}
.icon-wrapper {
	width: 40px; 
	height: 40px;
	background-color: #EAF6FE; 
	border-radius: 50%; 
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
	margin-right: 5px;
  }
  .icon-wrapper svg {
	width: 20px;
	height: 19px;
	top: 718.5px;
	left: 0px;
	right: 0px;	
	margin: 0px !important;
  }
.record-image {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
}
.alert-client h4 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 43.87px;
    text-align: left;
}
.alert-client .min-card {
    height: 105px;
	border-radius: 16px;
	border: 1.51px solid #0000002E;
	background: #FFFFFF;
}
.appointment-card h6 {
	font-weight: bold;
	font-size: 16px;
}
.font-custom {
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 18px;
	line-height: 25.2px;
	letter-spacing: 0.24px;
	color: #000000;
  }
  .small-cards {
    height: 163.41px;
    border-radius: 17px;
}
.font-custom-card {
	font-family: Poppins;
	font-weight: 400;
	font-size: 24.57px;
	line-height: 30px;
	margin-bottom: 0px;
  }
  .font-custom-large {
	font-family: Poppins;
	font-size: 29px;
	font-weight: 600;
	line-height: 30px;
	text-align: left;
  }
  .font-style-sub {
	font-family: 'Poppins';
	font-size: 16px;
	font-weight: 400;
	line-height: 22.4px;
	letter-spacing: 0.236px;
	text-align: left;
  }
  .small-cards a.btn {
	width: 227px;
	height: 60px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
	font-family: Inter;
	font-family: Inter;
	font-size: 20px;
	font-weight: 600;
	line-height: 29.03px;
	text-align: start;
}
.small-cards a.btn:focus {
	box-shadow: none !important;
}
.upconcoming-cards {
	width: 495.32px;
	height: 124px;
	border-radius: 15px; 
	border: Mixed solid #0000002E;
}
.client-listing h4 {
    margin-bottom: 30px;
	margin-top: 30px;
}
.client-listing .col-12.col-md-6 .upconcoming-cards {
    width: 100%;
}
.appointment-card .appointment-details {
	color: #6cace4;
	font-size: 14px;
}

.appointment-card .text-muted {
	color: #6cace4 !important;
}

.appointment-card .chevron-icon {
	color: #bdbdbd;
}
body {
	background-color: #fcf8f3;
}
.box_height {
	height: 125px;
}
.upcoming_border-line {
	position: relative;
	display: inline-block;
	padding-bottom: 10px; /* Adds space between text and border */
}

.upcoming_border-line::after {
	content: "";
	position: absolute;
	bottom: -5px; /* Aligns the line at the bottom of the text */
	left: 0;
	width: 90%; /* Width of the line */
	height: 4px; /* Thickness of the line */
	background-color: #53afe6; 
	border-radius: 9px;
}
.vertical_scroll_content {
	height: calc(100vh - 117px);
	overflow-y: auto;
}
.create-modal {
    padding: 30px;
}
  .crative-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
.crative-button .btn.btn-primary{
	height: 60px;
	width: 227px;
	border-radius: 11px;
	border: 1px solid #53AFE6;
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
	line-height: 29px;
	text-align: center;
   background-color: #53AFE6;;
}
.crative-button .btn.btn-primary:focus {
	box-shadow: none !important;
	border: 1px solid #53AFE6 !important;

}
.crative-button .btn.btn-light {
	height: 60px;
	width: 227px;
	border-radius: 11px;
	border: 1px solid #000000;
	font-family: Inter;
	font-size: 20px;
	font-weight: 600;
	line-height: 29.03px;
	text-align: center;
}
.crative-button .btn.btn-light:focus {
	border: 1px solid #000000 !important;
	box-shadow: none !important;
}
.crative-button .btn.btn-light:hover {
	background-color: transparent !important;
}
  
@media screen and (min-width: 320px) and (max-width: 425px) {
  .upcoming_border-line {
    position: relative;
    display: inline-block;
    padding-bottom: 10px; /* Adds space between text and border */
  }
  
  .upcoming_border-line::after {
    content: "";
    position: absolute;
    bottom: 0; /* Aligns the line at the bottom of the text */
    left: 0;
    width: 90%; /* Width of the line */
    height: 4px; /* Thickness of the line */
    background-color: #53afe6; /* Line color */
    border-radius: 9px;
  }
}

@media (max-width: 1024px) {
	.alert-client .col-12.col-md-4 {
		width: 50%;
	}

}
@media (max-width: 992px) {
		.container {
			max-width: 100% !important;
			padding: 20px;
			margin: 0px !important;
		}
		.container .col-lg-6 {
			width: 50%;
		}
		.font-custom-card {
			font-size: 19px;
			line-height: 30px;
		}
		.small-cards a.btn {
			width: 100% !important;
		}
}
@media (max-width: 768px) {
		.container .col-lg-6 {
			width: 100%;
		}
}
@media (max-width: 480px) {
	form.creative-from .col-6 {
		width: 100%;
	}
	.alert-client .col-12.col-md-4 {
		width: 100%;
	}
	.clander-card-content span {
		font-family: 'Poppins';
		font-size: 12px;
	}
	.crative-button {
		flex-direction: column;
	}
	.crative-button button {
		width: 100% !important;
	}

}
.upcoming-card::-webkit-scrollbar {
	width: 8px;
  }
  /* Track */
  .upcoming-card::-webkit-scrollbar-track {
	background: #f1f1f1; 
	border-radius: 10px;
  }
  /* Handle */
  .upcoming-card::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 10px;

  }
/* ================= */
.col-6.mb-3.dropdown-diet button {
	height: 55px;
	border-radius: 11px;
	border: 1px solid #9A9A9A33;
	background-color: #F5F5F5;
	text-align: start;
	display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
	padding: 0px 20px;

}
.col-6.mb-3.dropdown-diet button {
	background-color: transparent !important;
}
.col-6.mb-3.dropdown-diet button .button-arrow {
    font-size: 20px;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
	position: relative;
}
.col-6.mb-3.dropdown-diet button .button-arrow svg {
font-size: 14px;
position: absolute;
top: 2px;
left: 1px;
right: 0px;

}
.col-6.mb-3.dropdown-diet button:focus {
	outline: none !important;
	box-shadow: none !important;
	border: 1px solid #9A9A9A33;
	
}
.col-6.mb-3.dropdown-diet button {
        font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
		color: #000000;
}
.col-6.mb-3.dropdown-diet button::placeholder {
    color: #9A9A9A;
}

.col-6.mb-3.dropdown-diet button:hover {
	background-color: transparent !important;
}
.dropdown-toggle::after{
	display: none !important;
}
.col-6.mb-3.dropdown-diet .dropdown-menu.show {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0px !important;
    width: 100%;
	height: 150px;
	border-radius: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: Poppins;
	font-size: 14.39px;
	font-weight: 700;
	line-height: 28.7px;
	text-align: left;

}
.col-6.mb-3.dropdown-diet .dropdown-menu.show {
    width: 100%;
    background: #FFFFFF !important;

}
.col-6.mb-3.dropdown-diet .dropdown-menu.show a.dropdown-item {
    padding: 20px;
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
	line-height: 19px;
	text-align: left;
	border-bottom: 1px solid #ccc;

}
.col-6.mb-3.dropdown-diet .dropdown-menu.show a.dropdown-item:last-child {
	border-bottom: none !important;
}
.col-6.mb-3.dropdown-diet .dropdown-menu.show a.dropdown-item:hover {
	background: transparent !important;
}
.col-6.mb-3.dropdown-diet .dropdown-menu.show::-webkit-scrollbar {
	width: 8px;
  }
  .col-6.mb-3.dropdown-diet .dropdown-menu.show a.dropdown-item:first-child { 
	border-top-left-radius: 4px;
}
.col-6.mb-3.dropdown-diet .dropdown-menu.show a.dropdown-item:last-child {
	border-bottom-left-radius: 4px;
}
  /* Track */
  .col-6.mb-3.dropdown-diet .dropdown-menu.show::-webkit-scrollbar-track {
	background: #53AFE65E;
	border-radius: 10px;
  }
   
  /* Handle */
  .col-6.mb-3.dropdown-diet .dropdown-menu.show::-webkit-scrollbar-thumb {
	background: #53AFE6;
	border-radius: 10px;

  }
 
  



  










