body {
    overflow-x: hidden; 
    scrollbar-width: none; 
    -ms-overflow-style: none;
    background-color: #FCF8F3;  
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera: Hide scrollbar */
} 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.page_height{
    height: 100dvh;

}
.scroll-clander{
    height: 570px;
    overflow-y: auto;
    overflow-x: hidden;

}
.scroll-clander::-webkit-scrollbar {
    width: 8px;
  }

  .scroll-clander::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
  .scroll-clander::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;

  }