.home-container{
    background-color: #f8f6fb;
}
.clinets_score{
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 43.87px;
    text-align: left;

}
/*  */
 /* -------- */
 .upload-container {
	text-align: left;
  }
  
  .upload-box {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: #f8f9fa;
	height: 55px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .upload-box:hover {
	background-color: #e9ecef;
  }
  
  .upload-input {
	display: none;
  }
  
  .upload-label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-weight: 500;
	color: #495057;
  }
  
  .upload-icon {
	margin-right: 8px;
	
  }
  .upload-icon svg {
        color: #000000;
        font-size: 27px;
        font-weight: bold;
  }
  .col-6.mb-3.upload-buttons {
        max-width: 100%;
        width: 100%;
        padding: 0px;
}
  
  .upload-box:hover .upload-label {
	color: #000;
  }




















  .custom-dropdown-toggle {
    text-align: left;
    font-size: 16px;
    color: #aaa;
    border-radius: 10px;
    position: relative;
  }
  
  .dropdown-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  
  .custom-dropdown-menu {
    width: 100%;
    border-radius: 10px;
    padding: 0;
  }
  
  .custom-dropdown-item {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
  }
  
  .custom-dropdown-item:last-child {
    border-bottom: none;
  }
  
  .custom-dropdown-item .fw-bold {
    font-size: 16px;
  }
  
  .custom-dropdown-item .text-muted {
    font-size: 14px;
    color: #888;
  }
  
  .custom-dropdown-item input[type='radio'] {
    margin-top: 2px;
  }
  
  .program-dropdown .dropdown-menu {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* client-page */
  .client-pages-mini .client-mini-cards .col-lg-6 .col-12.mb-4 .upconcoming-cards {
    width: 100%;
}
.client-pages-mini {
    padding: 30px;
}
.client-pages-mini .client-mini-cards .col-lg-6 .col-12.mb-4 .upconcoming-cards h6 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.31px;
  }
  .client-pages-mini .client-mini-cards .col-lg-6 .col-12.mb-4 .upconcoming-cards .para {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 25.2px;
        letter-spacing: 0.3060942590236664px;
        text-align: left;
}
.client-pages-mini .client-mini-cards .col-lg-6 .col-12.mb-4 .upconcoming-cards .notification_badge_icon_padding {
    background: rgba(83, 175, 230, 0.31);
    position: relative;
    border-radius: 50%;
    width: 43.09px;
    height: 43.09px;
    position: relative;
}
.client-pages-mini .client-mini-cards .col-lg-6 .col-12.mb-4 .upconcoming-cards .notification_badge_icon_padding .icon_wrap {
    width: 31px;
    height: 31px;
    padding: 2.58px 5.07px 2.58px 5.07px;
    position: absolute;
    top: 2px;
    right: 6px;
}
.client-pages-mini .client-mini-cards .col-lg-6 .col-12.mb-4 .upconcoming-cards .notification_badge_icon_padding .icon_wrap i {
    width: 20px;
    height: 25px;
    position: relative;
    display: block;
    font-size: 20px;
}
.client-pages-mini .text-start .btn {
    width: 161px;
    height: 60px;
    top: 192.34px;
    left: 475.98px;
    gap: 0px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(83, 175, 230);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 29.03px;
    text-align: left;

}
.client-pages-mini .searchbar {
    width: 540px;
    height: 56px;
    border-radius: 53px !important;
    border: 1px 0px 0px 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 20px;

}
.client-pages-mini .searchbar::placeholder {
   color:#AAAAAA;

}
.client-mini-cards::-webkit-scrollbar {
    width: 10px;
  }

  .client-mini-cards::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }

  .client-mini-cards::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  .client-section {
     max-width: 100%;
  }
  .listing-card-client {
    padding: 25px;
  }
  .client-mini-cards {
    height: 100%;
    max-height: 637px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }
  .diet-plan-section-page {
    padding: 30px;
    border: none;
    background: #ffff;
    margin: 20px 0px;
    border-radius: 11px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100dvh;
}
.diet-plan-section-page::-webkit-scrollbar {
    width: 8px;
}

.diet-plan-section-page::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
  
.diet-plan-section-page::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;

}
.card.diet-plan-section {
  padding: 20px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 21px;
  margin-bottom: 30px;
}
.custom-heads {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 43.87px;
  text-align: left;
}
.custom-head-bold {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.3060942590236664px;
  text-align: left;
}
.custom-head {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 43.87px;
  text-align: left;
}
.custom-head::before {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 15px;
  width: 20%;
  height: 4px;
  background-color: #53afe6;
  border-radius: 9px;
}
.diet-plane-2 {
  border: none !important;

}
.card.diet-plan-section h5 {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  letter-spacing: 0.3060942590236664px;
  text-align: left;
}
.col-12.col-md-4 h6 {
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.3060942590236664px;
  text-align: left;
   color: #000000;
}
.col-md-4 ul.list-unstyled li {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27.54px;
  letter-spacing: 0.23632286489009857px;
  text-align: left;
  text-decoration: dotted;
}
.card.diet-plan-section button.btn.btn-secondary.btn-sm.me-2 {
  background: #263238DE;
  width: 45px;
  height: 45px;
  border-radius: 11px;
  border-color: #263238DE;
}
.card.diet-plan-section button.btn.btn-primary.btn-sm {
  background: #53AFE6;
  width: 45px;
  height: 45px;
  border-radius: 11px;
  border-color: #53AFE6;

}
.card.diet-plan-section button:focus {
  box-shadow: none !important;
}
.card.diet-plan-section i {
  font-size: 20px;
  padding: 2.7px 4px 2.67px 4px;
  color: #FFFFFF;
}
.meal-list-item::before {
  content: "• ";
  font-weight: bold; 
  margin-right: 5px;
  color: #000000A6;

}

.card.diet-plan-section .d-flex.flex-wrap span.badge {
  font-family: Open Sans;
  font-size: 10.06px;
  font-weight: 400;
  line-height: 13.7px;
  text-align: center;
  border-radius: 4px;
  width: 74.19px;
  height: 16.35px;
}
.diet-plan-section-page .row.my-2 button {
  width: 206px;
  height: 60px;
  border-radius: 11px;
  background: #53AFE6;
  border-color: #53AFE6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.diet-plan-section-page .row.my-2 button:focus {
  background-color: #53AFE6 !important;
  box-shadow: none !important;
  outline: none !important;
  border-color: #53AFE6 !important;
}
.card.diet-plan-section button:focus {
  box-shadow: none !important;
}
.diet-plan-section-page .text-white {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 29.03px;
  text-align: left;
}
.icon-hide {
  display: none !important;
}
.diet-plan-section-page .row.my-2 .col-lg-6 {
  width: 50%;
} 

.program-diet p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27.54px;
  letter-spacing: 0.23632286489009857px;
  text-align: left;
}
.program-2 {
  background-color:  #ffffff;
  padding: 20px;
  border-radius: 17px;
  border: 1.96px solid #0000002E;
}
.diet-plan-section-page .container.mt-5 {
  height: 100dvh;
}
button.btn.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  .diet-plan-section-page .text-white {
    display: none !important;
  }
  .diet-plan-section-page .row.my-2 button {
    margin: 0px;
    padding: 0px;
    justify-content: flex-end;
  }
  .diet-plan-section-page .row.my-2 button {
    width: 206px;
    height: 60px;
   background-color: transparent !important;
   border-radius: 0px !important;
   border: none !important;
  }
  .card .diet-plan-section .icon {
    display: none !important;
  }
  .card.diet-plan-section .d-flex.icon-hide {
    justify-content: center;
}
    .plus-icon{
      padding: 5px;
      background: #53AFE6;
      border-radius: 5px !important;
    }
    .plus-icon.mr-2 svg {
      background: #53AFE6;
  }
}
.diet-plan-section-page button.btn.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 29.03px;
  text-align: left;
  background: #53AFE6;
  border-color: #53AFE6 !important;
}
.diet-plan-section-page button.btn.btn-primary a:focus {
  box-shadow: none !important;
}
.diet-plan-section-page button.btn.btn-primary:active {
  background-color: transparent !important;
  border: none !important;
}
.diet-plan-section-page button.btn.btn-primary a {
  background-color: transparent !important;
  border: none !important;
}
.diet-plan-section-page button.btn.btn-primary:focus {
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent !important;
  border: none !important;
}
.diet-plan-section-page button.btn.btn-secondary.btn-sm.me-2 {
  width: 47px;
  height: 45px;
  margin: 0px;
}
.program-2 .mt-3 ol li {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27.54px;
  letter-spacing: 0.23632286489009857px;
  text-align: left;
}
.program-2 p {
  margin-bottom: 0px;
}