.header {
    width: 100%;    
    background-color: #FFFFFF;
    /* height: 25%;  */
    box-sizing: border-box;
    margin: 0;
    /* padding  : 8px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* border-radius: 33px; */
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .greeting h1 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .greeting span {
    font-weight: bold;
  }
  
  .header-icons {
    display: flex;
    align-items: center;
  }
  
  .notifications {
    margin-right: 20px;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
  }